<section id="text_block">
  <div class="middle layout-row layout-wrap">
    <div class="orange-text md-padding flex-gt-md-25 flex-gt-xs-33 flex-100">
      <div class="md-padding side bg-cell">
        <div class="md-padding side">
          <div class="mar-30"></div>
          <span>более</span>
          <h4 class="center size4 bold no-space">110 000</h4>
          <span class="right">товаров в каталоге</span>
          <div class="mar-30"></div>
          <div class="mar-30 hide-on-med-and-down"></div>
          <div class="mar-30 hide-on-small-only"></div>
          <app-logo></app-logo>
          <div class="mar-30"></div>
        </div>
      </div>
    </div>
    <div class="md-padding side flex-gt-md-75 flex-gt-xs-66 flex-100">
      <div class="mar-30 hide-on-med-and-up"></div>
      <ng-content select=".header1"></ng-content>
      <ng-content select=".paragraph-header1"></ng-content>
    </div>
  </div>
</section>
