:host /deep/ {
  #news_items {
    .header-section {
      background:url('/src/assets/img/bg-news.jpg') center #69a437 no-repeat
    }
    //padding-bottom:0;
  }
  #sales_items {
    .header-section {
      background:url('/src/assets/img/bg-sales.jpg') center #94434a no-repeat
    }
  }
  #recommend_items {
    .header-section {
      background:url('/src/assets/img/bg-recommend.jpg') center #3b9fc3 no-repeat
    }
  }
  #factories_items {
    .header-section {
      background:url('/src/assets/img/bg-factories.jpg') center #e26201 no-repeat
    }
  }
  #news_items, #sales_items, #recommend_items, #factories_items {
    .header-section {
      height:150px;
      h2 { font-size:3rem }
    }
    padding-bottom:0;
  }
  .header-section {
    h3 { font-size:1.3rem; margin-top:10px }
    .relative { height:80px }
    &__more {
      position:absolute; left:100%; height:80px; width:80px; top:50%; transform:translate(-50%, -50%); padding:5px;
      svg { width:100%; height:100%; }
    }
  }
  @media (max-width:1250px) {
    #news_items, #sales_items, #recommend_items, #factories_items {
      .header-section {
        h2 { font-size:2.5rem; }
      }
    }
  }
  @media (max-width:959px) {
    #news_items, #sales_items, #recommend_items, #factories_items {
      .header-section {
        h2 { font-size:2rem; }
        .paragraph { font-size:1rem; }
        &__more { left:auto; right:.75rem; transform:translateY(-50%); }
      }
    }
  }
  .items { transform:translateY(-36px) }
}
