
/deep/ {
  mdb-button[mdb-icon] {
    box-shadow: none;
    span.wave-effect {background:rgba(0, 0, 0, .0);width: 100%;height: 100%;display: block;position: absolute;top: 0;transition: .5s all ease}
    &:hover {
      span.wave-effect { background:rgba(0, 0, 0, .1) }
    }
    &:active {
      span.wave-effect { background:rgba(255, 255, 255, .3) }
    }
  }
}
