<div class="card mar-0 z-depth-3">
  <mdb-button disabled class="btn absolute right top code">
    <i class="material-icons left">label_outline</i>
    <ng-content select=".id"></ng-content>
  </mdb-button>
  <div class="card-image"
       [innerHtml]="image.product('i1.jpg', {alt: 'Это товар', title: 'Это тайтл товара', alias: {factory: 'globo', series: 'teika', id: 56185}})">
    <!--<img src="src/assets/img/img_globo-tieka-4-56185-3.jpg">-->
  </div>
  <div class="card-content">
    <div class="md-padding">
      <div class="category-card grey-text text-lighten-1 light truncate">
        <ng-content select=".category"></ng-content>
      </div>
      <div class="title-card bold truncate">
        <ng-content select=".name"></ng-content>
        <div class="collection-card bold">
          <ng-content select=".series"></ng-content>
        </div>
      </div>
    </div>
  </div>
  <div class="card-action md-padding">
    <div class="md-padding">
      <div class="more-card layout-row layout-wrap">
        <div class="flex-gt-sm-50 flex-100 layout-row layout-align-end-start"></div>
        <div class="flex-gt-sm-50 flex-100 layout-row layout-align-end-start">
          <ng-content select=".action"></ng-content>
        </div>
      </div>
    </div>
  </div>
</div>
