@import "media";
.hide {
  display:none !important;
  @each $col in $grid {
    &-#{$col} {
      @include respond-to($col) {
        display:none !important;
      }
    }
  }
}
.show {
  display:block !important;
  @each $col in $grid {
    &-#{$col} {
      @include respond-to($col) {
        display:block !important;
      }
    }
  }
}
i.material-icons { height:auto !important; line-height:inherit !important; }

