@import "media";
.hide {
  display:none !important;
  @each $col in $grid {
    &-#{$col} {
      @include respond-to($col) {
        display:none !important;
      }
    }
  }
}
.show {
  display:block !important;
  @each $col in $grid {
    &-#{$col} {
      @include respond-to($col) {
        display:block !important;
      }
    }
  }
}
i.material-icons { height:auto !important; line-height:inherit !important; }
@each $col in 1, 2, 3, 4, 5, 6 {
  .size#{$col} {
    font-size:$col * 1rem;
  }
}
